#bannerTitles{
    margin-left: 30vh;
    margin-top: 44vh;
    position: absolute;
    background-color: #535353;
    opacity: 0.9;
}
#VitrineStyles{
    background-color: #CCCC;
    left: 0;
    right: 26.09%;
    height: 90vh;
    width: 100%;
    margin-top: 104vh;
    position: absolute;
}