#bannerTitles{
    margin-left: 30vh;
    margin-top: 44vh;
    position: absolute;
    background-color: #535353;
    opacity: 0.9;
}
#VitrineStyles{
    left: 0;
    right: 26.09%;
    height: auto;
    width: 100%;
    margin-top: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:stretch;
}