@media screen and (max-width: 640px){
    #bannerTitles{
        margin-left: -1vh;
        margin-top: 50vh;
        height: 110px;
        position: absolute;
    }
    .mainMenu{
        z-index: 99;
        display: flex;
        flex-direction: column;
        height:2vh;
        width: 100%;
        position:fixed;
        top: 0;
        left: 0;
        font-size: 2vh;
        float: left;   
    }
    .idLogo{
        background-color: red; 
    }
    .navigation{
        height:15vh;
    }
    .navigation ul li{
        float:none;
    }
    .banner{
        top:0;
        left: 0;
        height: 83vh;   
        margin:auto;
        margin-top: 16vh;
    }
    h1,h3{
        font-size:15px;
    }
    .element{
        visibility: hidden;
    }
    .navigation a{
        transition: 0s;
        color:#757575;
    }
}